body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.game-container {
    width: 60%;
    margin: 50px auto;
    background: #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #ff6347;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 5px solid #ff6347;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff4500;
}